.luna-popover {
  --popover-radius: 0.5rem;
  z-index: 999;
  background-color: hsl(var(--b1));
  border-radius: var(--popover-radius);
  box-shadow: var(--shadow-md);
}

.luna-popover .luna-popover-header {
  min-width: var(--size-48);
  border-bottom-width: 1px;
  font-weight: var(--font-semibold);
  word-break: break-all;
  padding-inline-start: var(--size-3);
  padding-inline-end: var(--size-9);
  padding-block: var(--size-2-5);
}

.luna-popover .luna-popover-body {
  padding-inline: var(--size-3);
  padding-block: var(--size-2-5);
}

.luna-popover .luna-popover-close-btn {
  position: absolute;
  top: 0.68rem;
  right: 0.5rem;
}
