.luna-badge {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: var(--size-2);
  width: fit-content;
  height: var(--size-6);
  padding-right: 0.563rem;
  padding-left: 0.563rem;
  background-color: hsl(var(--color-base-100));
  border-width: 1px;
  border-color: hsl(var(--color-base-200));
  border-radius: var(--size-1);
  font-size: var(--text-sm);
  line-height: var(--leading-6);
  color: hsl(var(--color-base-content));

  &-neutral {
    background-color: hsl(var(--color-neutral));
    border-color: hsl(var(--color-neutral));
    color: hsl(var(--color-neutral-content));
  }
  &-primary {
    background-color: hsl(var(--color-primary));
    border-color: hsl(var(--color-primary));
    color: hsl(var(--color-primary-content));
  }
  &-secondary {
    background-color: hsl(var(--color-secondary));
    border-color: hsl(var(--color-secondary));
    color: hsl(var(--color-secondary-content));
  }
  &-accent {
    background-color: hsl(var(--color-accent));
    border-color: hsl(var(--color-accent));
    color: hsl(var(--color-accent-content));
  }
  &-info {
    background-color: hsl(var(--color-info));
    border-color: hsl(var(--color-info));
    color: hsl(var(--color-info-content));
  }
  &-success {
    background-color: hsl(var(--color-success));
    border-color: hsl(var(--color-success));
    color: hsl(var(--color-success-content));
  }
  &-warning {
    background-color: hsl(var(--color-warning));
    border-color: hsl(var(--color-warning));
    color: hsl(var(--color-warning-content));
  }
  &-error {
    background-color: hsl(var(--color-error));
    border-color: hsl(var(--color-error));
    color: hsl(var(--erc));
  }
  &-ghost {
    background-color: hsl(var(--color-base-200));
    border-color: hsl(var(--color-base-200));
    color: hsl(var(--color-base-content));
  }

  &-outline {
    background-color: transparent;
    border-color: currentColor;
    color: currentColor;

    &.luna-tag-neutral {
      color: hsl(var(--color-neutral));
    }
    &.luna-badge-primary {
      color: hsl(var(--color-primary));
    }
    &.luna-badge-secondary {
      color: hsl(var(--color-secondary));
    }
    &.luna-badge-accent {
      color: hsl(var(--color-accent));
    }
    &.luna-badge-info {
      color: hsl(var(--color-info));
    }
    &.luna-badge-success {
      color: hsl(var(--color-success));
    }
    &.luna-badge-warning {
      color: hsl(var(--color-warning));
    }
    &.luna-badge-error {
      color: hsl(var(--color-error));
    }
  }

  &-xs {
    height: var(--size-4);
    font-size: var(--text-xs);
    line-height: var(--leading-4);
    padding-inline: 0.313rem;
  }
  &-sm {
    height: var(--size-5);
    font-size: var(--text-xs);
    line-height: var(--leading-5);
    padding-inline: 0.438rem;
  }
  &-md {
    height: var(--size-6);
    font-size: var(--text-sm);
    line-height: var(--leading-6);
    padding-inline: 0.563rem;
  }
  &-lg {
    height: var(--size-8);
    font-size: var(--text-base);
    line-height: var(--leading-8);
    padding-inline: 0.688rem;
  }

  &-icon {
    flex-shrink: 0;
    width: 1em;
    height: 1em;
  }

  &-pill {
    border-radius: var(--rounded-full);
  }
}
