.luna-btn {
  --btn-focus-scale: 0.95;
  --animation-btn: 0.25s;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: var(--size-2);
  flex-shrink: 0;
  height: var(--size-10);
  min-height: var(--size-10);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.2s;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter, -webkit-backdrop-filter;
  animation: button-pop var(--animation-btn) ease-out;
  cursor: pointer;
  border-radius: var(--rounded-btn, 0.5rem);
  font-size: var(--text-base);
  font-weight: var(--font-semibold);
  line-height: 1em;
  text-align: center;
  padding-inline: var(--space-4);
  text-decoration-line: none;
  user-select: none;

  &:active:hover,
  &:active:focus {
    transform: scale(var(--btn-focus-scale));
    animation: button-pop 0s ease-out;
  }

  &-no-animation {
    --btn-focus-scale: 1;
    --animation-btn: 0;
  }

  &-loading {
    pointer-events: none;
  }

  /* icon */
  &-icon {
    width: var(--size-5);
  }

  /* shapes */
  &-square {
    width: var(--size-10);
    height: var(--size-10);
    padding: 0;

    &:where(.luna-btn-xs) {
      width: var(--size-6);
      height: var(--size-6);
      padding: 0;
    }
    &:where(.luna-btn-sm) {
      width: var(--size-8);
      height: var(--size-8);
      padding: 0;
    }
    &:where(.luna-btn-md) {
      width: var(--size-10);
      height: var(--size-10);
      padding: 0;
    }
    &:where(.luna-btn-lg) {
      width: var(--size-12);
      height: var(--size-12);
      padding: 0;
    }
  }
  &-circle {
    width: var(--size-10);
    height: var(--size-10);
    padding: 0;
    border-radius: var(--rounded-full);

    &:where(.luna-btn-xs) {
      width: var(--size-6);
      height: var(--size-6);
      padding: 0;
      border-radius: var(--rounded-full);
    }
    &:where(.luna-btn-sm) {
      width: var(--size-8);
      height: var(--size-8);
      padding: 0;
      border-radius: var(--rounded-full);
    }
    &:where(.luna-btn-md) {
      width: var(--size-10);
      height: var(--size-10);
      padding: 0;
      border-radius: var(--rounded-full);
    }
    &:where(.luna-btn-lg) {
      width: var(--size-12);
      height: var(--size-12);
      padding: 0;
      border-radius: var(--rounded-full);
    }
  }

  &-block {
    width: 100%;
  }

  /* default btn */
  & {
    --btn-color: hsl(var(--b2));
    --btn-focus-color: hsl(var(--b3));
    --btn-text-color: hsl(var(--bc));
    --btn-outline-color: hsl(var(--bc));
    background-color: var(--btn-color);

    border: 1px solid var(--btn-color);
    color: var(--btn-text-color);
    outline-color: var(--btn-outline-color);

    @media (hover: hover) {
      &:hover {
        background-color: var(--btn-focus-color);
        border-color: var(--btn-focus-color);
      }
    }
    &-active {
      background-color: var(--btn-focus-color);
      border-color: var(--btn-focus-color);
    }
    &:focus-visible {
      outline-offset: 2px;
      outline-style: solid;
      outline-width: 2px;
    }
  }

  /* brand colors */
  &-primary {
    background-color: hsl(var(--p));
    border-color: hsl(var(--p));
    color: hsl(var(--pc));
    outline-color: hsl(var(--p));

    @media (hover: hover) {
      &:hover {
        background-color: hsl(var(--pf));
        border-color: hsl(var(--pf));
      }
    }
    &.luna-btn-active {
      background-color: hsl(var(--pf));
      border-color: hsl(var(--pf));
    }
  }
  &-secondary {
    background-color: hsl(var(--s));
    border-color: hsl(var(--s));
    color: hsl(var(--sc));
    outline-color: hsl(var(--s));

    @media (hover: hover) {
      &:hover {
        background-color: hsl(var(--sf));
        border-color: hsl(var(--sf));
      }
    }
    &.luna-btn-active {
      background-color: hsl(var(--sf));
      border-color: hsl(var(--sf));
    }
  }
  &-accent {
    background-color: hsl(var(--a));
    border-color: hsl(var(--a));
    color: hsl(var(--ac));
    outline-color: hsl(var(--a));
    @media (hover: hover) {
      &:hover {
        background-color: hsl(var(--af));
        border-color: hsl(var(--af));
      }
    }
    &.luna-btn-active {
      background-color: hsl(var(--af));
      border-color: hsl(var(--af));
    }
  }
  &-neutral {
    background-color: hsl(var(--n));
    border-color: hsl(var(--n));
    color: hsl(var(--nc));
    outline-color: hsl(var(--n));
    @media (hover: hover) {
      &:hover {
        background-color: hsl(var(--nf));
        border-color: hsl(var(--nf));
      }
    }
    &.luna-btn-active {
      background-color: hsl(var(--nf));
      border-color: hsl(var(--nf));
    }
  }

  /* btn with state colors */
  &-info {
    background-color: hsl(var(--in));
    border-color: hsl(var(--in));
    color: hsl(var(--inc));
    outline-color: hsl(var(--in));
    @media (hover: hover) {
      &:hover {
        background-color: hsl(var(--in));
        border-color: hsl(var(--in));
      }
    }
    &.luna-btn-active {
      background-color: hsl(var(--in));
      border-color: hsl(var(--in));
    }
  }
  &-success {
    background-color: hsl(var(--su));
    border-color: hsl(var(--su));
    color: hsl(var(--suc));
    outline-color: hsl(var(--su));
    @media (hover: hover) {
      &:hover {
        background-color: hsl(var(--su));
        border-color: hsl(var(--su));
      }
    }
    &.luna-btn-active {
      background-color: hsl(var(--su));
      border-color: hsl(var(--su));
    }
  }
  &-warning {
    background-color: hsl(var(--wa));
    border-color: hsl(var(--wa));
    color: hsl(var(--wac));
    outline-color: hsl(var(--wa));
    @media (hover: hover) {
      &:hover {
        background-color: hsl(var(--wa));
        border-color: hsl(var(--wa));
      }
    }
    &.luna-btn-active {
      background-color: hsl(var(--wa));
      border-color: hsl(var(--wa));
    }
  }
  &-error {
    background-color: hsl(var(--er));
    border-color: hsl(var(--er));
    color: hsl(var(--erc));
    outline-color: hsl(var(--er));
    @media (hover: hover) {
      &:hover {
        background-color: hsl(var(--er));
        border-color: hsl(var(--er));
      }
    }
    &.luna-btn-active {
      background-color: hsl(var(--er));
      border-color: hsl(var(--er));
    }
  }

  /* btn variants */
  &-ghost {
    background-color: transparent;
    border: 1px solid transparent;
    color: currentColor;
    box-shadow: none;
    outline-color: currentColor;
    @media (hover: hover) {
      &:hover {
        background-color: hsl(var(--bc) / 0.2);
      }
    }
    &.luna-btn-active {
      background-color: hsl(var(--bc) / 0.2);
    }
  }
  &-link {
    background-color: transparent;
    border-color: transparent;
    color: hsl(var(--p));
    box-shadow: none;
    outline-color: currentColor;
    text-decoration-line: underline;
    @media (hover: hover) {
      &:hover {
        background-color: transparent;
        border-color: transparent;
        text-decoration-line: underline;
      }
    }
    &.luna-btn-active {
      background-color: transparent;
      border-color: transparent;
      text-decoration-line: underline;
    }
  }

  /* outline */
  &-outline {
    background-color: transparent;
    border-color: currentColor;
    color: hsl(var(--bc));
    box-shadow: none;
    @media (hover: hover) {
      &:hover {
        background-color: hsl(var(--bc));
        border-color: hsl(var(--bc));
        color: hsl(var(--b1));
      }
    }
    &.luna-btn-active {
      background-color: hsl(var(--bc));
      border-color: hsl(var(--bc));
      color: hsl(var(--b1));
    }
    &.luna-btn-primary {
      color: hsl(var(--p));
      @media (hover: hover) {
        &:hover {
          background-color: hsl(var(--pf));
          border-color: hsl(var(--pf));
          color: hsl(var(--pc));
        }
      }
      &.luna-btn-active {
        background-color: hsl(var(--pf));
        border-color: hsl(var(--pf));
        color: hsl(var(--pc));
      }
    }
    &.luna-btn-secondary {
      color: hsl(var(--s));
      @media (hover: hover) {
        &:hover {
          background-color: hsl(var(--sf));
          border-color: hsl(var(--sf));
          color: hsl(var(--sc));
        }
      }
      &.luna-btn-active {
        background-color: hsl(var(--sf));
        border-color: hsl(var(--sf));
        color: hsl(var(--sc));
      }
    }
    &.luna-btn-accent {
      color: hsl(var(--a));
      @media (hover: hover) {
        &:hover {
          background-color: hsl(var(--af));
          border-color: hsl(var(--af));
          color: hsl(var(--ac));
        }
      }
      &.luna-btn-active {
        background-color: hsl(var(--af));
        border-color: hsl(var(--af));
        color: hsl(var(--ac));
      }
    }
    &.luna-btn-success {
      color: hsl(var(--su));
      @media (hover: hover) {
        &:hover {
          background-color: hsl(var(--su));
          border-color: hsl(var(--su));
          color: hsl(var(--suc));
        }
      }
      &.luna-btn-active {
        background-color: hsl(var(--su));
        border-color: hsl(var(--su));
        color: hsl(var(--suc));
      }
    }
    &.luna-btn-info {
      color: var(--in);
      @media (hover: hover) {
        &:hover {
          background-color: hsl(var(--in));
          border-color: hsl(var(--in));
          color: hsl(var(--inc));
        }
      }
      &.luna-btn-active {
        background-color: hsl(var(--in));
        border-color: hsl(var(--in));
        color: hsl(var(--inc));
      }
    }
    &.luna-btn-warning {
      color: var(--wa);
      @media (hover: hover) {
        &:hover {
          background-color: hsl(var(--wa));
          border-color: hsl(var(--wa));
          color: hsl(var(--wac));
        }
      }
      &.luna-btn-active {
        background-color: hsl(var(--wa));
        border-color: hsl(var(--wa));
        color: hsl(var(--wac));
      }
    }
    &.luna-btn-error {
      color: var(--er);
      @media (hover: hover) {
        &:hover {
          background-color: hsl(var(--er));
          border-color: hsl(var(--er));
          color: hsl(var(--erc));
        }
      }
      &.luna-btn-active {
        background-color: hsl(var(--er));
        border-color: hsl(var(--er));
        color: hsl(var(--erc));
      }
    }
  }

  /* disabled */
  &.luna-btn-disabled,
  &[disabled],
  &:disabled {
    background-color: hsl(var(--n) / 0.2);
    border-color: transparent;
    color: hsl(var(--bc) / 0.2);
    pointer-events: none;

    @media (hover: hover) {
      &:hover {
        background-color: hsl(var(--n) / 0.2);
        color: hsl(var(--bc) / 0.2);
      }
    }
  }

  /* size */
  &-xs {
    height: var(--size-6);
    min-height: var(--size-6);
    font-size: var(--text-xs);
    padding-inline: var(--space-2);
  }
  &-sm {
    height: var(--size-8);
    min-height: var(--size-8);
    font-size: var(--text-sm);
    padding-inline: var(--space-3);
  }
  &-md {
    height: var(--size-10);
    min-height: var(--size-10);
    font-size: var(--text-base);
    padding-inline: var(--space-4);
  }
  &-lg {
    height: var(--size-12);
    min-height: var(--size-12);
    font-size: var(--text-lg);
    padding-inline: var(--space-6);
  }
}

/* radio input and checkbox as button */
.luna-btn:is(input[type='checkbox']),
.luna-btn:is(input[type='radio']) {
  appearance: none;
}
.luna-btn:is(input[type='checkbox']):after,
.luna-btn:is(input[type='radio']):after {
  content: attr(aria-label);
}
.luna-btn:is(input[type='checkbox']:checked),
.luna-btn:is(input[type='radio']:checked) {
  background-color: hsl(var(--p));
  border-color: hsl(var(--p));
  color: hsl(var(--pc));

  @media (hover: hover) {
    &:hover {
      background-color: hsl(var(--pf));
      border-color: hsl(var(--pf));
    }
  }
  &:focus-visible {
    outline-color: hsl(var(--p));
  }
}

/* loading */
.luna-btn .luna-loading-lg,
.luna-btn.luna-btn-lg .luna-btn-icon {
  width: var(--size-6);
}

.luna-btn .luna-loading,
.luna-btn .luna-loading-md,
.luna-btn.luna-btn-md .luna-btn-icon {
  width: var(--size-5);
}

.luna-btn .luna-loading-sm,
.luna-btn.luna-btn-sm .luna-btn-icon {
  width: var(--size-4);
}

.luna-btn .luna-loading-xs,
.luna-btn.luna-btn-xs .luna-btn-icon {
  width: var(--size-3);
}

@keyframes button-pop {
  0% {
    transform: scale(var(--btn-focus-scale, 0.98));
  }

  40% {
    transform: scale(1.02);
  }

  to {
    transform: scale(1);
  }
}
