.luna-alert {
  --alert-color: hsl(var(--color-base-content));
  --alert-bg: hsl(var(--color-base-200));
  --alert-radius: var(--rounded-box, 1rem);
  display: grid;
  align-items: center;
  align-content: flex-start;
  gap: var(--space-4);
  grid-auto-flow: row;
  width: 100%;
  padding: var(--space-4);
  background-color: var(--alert-bg);
  border-radius: var(--alert-radius);
  color: var(--alert-color);
  text-align: center;
  justify-items: center;

  @media (min-width: 640px) {
    grid-auto-flow: column;
    grid-template-columns: auto minmax(auto, 1fr);
    text-align: left;
    justify-items: start;
  }

  &-icon {
    flex-shrink: 0;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.5rem;
  }

  &-info {
    --alert-bg: hsl(var(--color-info));
    --alert-color: hsl(var(--color-info-content));
  }

  &-success {
    --alert-bg: hsl(var(--color-success));
    --alert-color: hsl(var(--color-success-content));
  }

  &-warning {
    --alert-bg: hsl(var(--color-warning));
    --alert-color: hsl(var(--color-warning-content));
  }

  &-error {
    --alert-bg: hsl(var(--color-error));
    --alert-color: hsl(var(--color-error-content));
  }
}
